@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@500&family=Quicksand:wght@600&display=swap');
*{
    box-sizing: border-box;
    font-family: "Quicksand",sans-serif;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
}
.container {
    max-width: 1167px;
    padding: 0 15px;
    margin: 0 auto;
}
.mr_flex{
    width: 100%;
    display:flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.item{
    margin-left: 20px;
    font-family: "Quicksand",sans-serif;
}
.boot{
    padding-top:15px;
    width: 40px;
    height: 53px;
}
.basket{
    padding-top: 25px;
}
.nav-text{
    line-height: 70px;
    font-size: 15px;
    color: white;
}
.nav-text:visited{
    color: white;
}
.hero-flex{
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: space-between;
    background-attachment: fixed;
}
.hero{
    background: url("../img/Livello 1.png") center  no-repeat;
    background-size: cover;
    height: 790px;
    width: 100%;
    background-attachment: fixed;
}
.hero_content{
    margin-top: 25%;
    width: 77%;
}
.arrow{
    margin-bottom: 25px;
}
.hero_title{

    font-size: 60px;
    color: white;
    text-align: center;
    font-family: "Quicksand", sans-serif;

}
.hero_description{
    font-size: 20px;
    color: white;
    text-align: center;
    font-family: "Quicksand", sans-serif;
    padding-top: 20px;
    width: 80%;
    margin: 0 auto;
    opacity: 0.7;
}
.sex{
    height: 145px;
    background: #dadada;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.sex-flex{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.sex-category{
    width: 40%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.sex-type>input{
    margin-right: 10px;

}
.checkbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}
.checkbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}
.checkbox+label::before {
    content: '';
    display: inline-block;
    width: 1em;
    height: 1em;
    flex-shrink: 0;
    flex-grow: 0;
    border: 2px solid #adb5bd;

    margin-right: 0.5em;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
    background-color: white;
}
.checkbox:checked+label::before {
    border-color: #aa9b77;
    background-color: white;
    background-image: url("../img/fa-check.png");
}
.checkbox:disabled+label::before {
    background-color: white;
}
.checkbox:hover+label::before {
    box-shadow: 0 0 0 0.2rem #d3d3d3;
}
.sex-type>label{
    font-size: 20px;
    color: black;
    font-family: "Quicksand", sans-serif;
    font-weight: 0;
}
.all-button{
    height: 50px;
    width: 15%;
    min-width: 100px;
    background-color: #aa9b77;
    border-radius: 4px;
    transition: 1s ease;
}
.all-button:hover{
    box-shadow: 0 0 0 0.2rem #a1a1a1;
}
.button-text{
    font-family: "Quicksand", sans-serif;
    font-size: 15px;
    color: white;
    text-transform: uppercase;

}
.men{
    margin-top: 5%;
    width: 100%;
    height: 50px;
    display: flex;
}
.men h2{
    font-size: 20px;
    line-height: 50px;
}
.men hr{

    align-self: center;
    width: 95%;
    margin-left: 5%;
    float: left;
    height: 2px;
    background-color: black;
}
.clothes{
    margin-top: 20px;
}
.pages1,.pages2{
    width: 100%;
}
.num{
    display: block;
    text-align: end;
    color: #aa9b77;
}

.num1{
    display: block;
    text-align: start;
    color: #aa9b77;
}

.next{
    width: 20px;
    height: 20px;
}

.left-right{
    display: block;
    margin-top: 10px;
    float: right;
}

.left-right1{
    display: block;
    margin-top: 10px;

}

.slider,.slider1{
    padding-top: 15px;
}

.slider1 {
    position: relative;
    overflow: hidden;
    width: 100%;
    margin-left: auto;
    margin-right: auto
}

.slider__items {
    counter-reset: slide;
}

.slider__item {
    counter-increment: slide;
}

/*.slider__item>div::before {*/
/*    content: counter(slide);*/
/*    position: absolute;*/
/*    top: 10px;*/
/*    right: 20px;*/
/*    color: #aa9b77;*/
/*    font-style: italic;*/
/*    font-size: 32px;*/
/*    font-weight: bold;*/
/*    display: none;*/
/*}*/

.slider__indicators {
    display: none;
}

.themarket{
    display: flex;
    justify-content: space-between;
    flex-flow: wrap;
}

.hype{
    min-width: 320px;
    height: 380px;
    background-color: #f5f6f7;
    padding: 10px;
    transition: all 0.2s ease;
    display: flex;
    flex-flow: column;
    justify-content: space-between;
}

.hype:hover{
    outline: 6px solid #aa9b77;
    outline-offset: -6px;
}

.size-drop{
    width: 70px;
    background-color: unset;
}

.item_photo{
    display: flex;
    justify-content: center;
    align-items: center;
}
.item_information{
    padding: 10px 0 0 10px;
}
.money-inf{
    display: flex;
    justify-content: space-between;
    padding: 40px 10px 10px 10px;
    font-size: 15px;
}

.money-inf-text{
    text-transform: uppercase;
    color: #aa9b77;
}

.select-colors{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.colors{
    padding-top: 5px;
    width: 78px;
    display: flex;
    justify-content: space-between;
}

.circle{
    float: left;
    height: 22px;
    width: 22px;
    border-radius: 50%;
}

#blue{
    background-color: #165eb9;
}

#yellow{
    background-color: #ffe637;
}

#grey{
    background-color: #535253;
}

.woman{
    margin-top: 5%;
    width: 100%;
    height: 50px;
    display: flex;
}

.woman h2{
    margin-left: 5%;
    font-size: 20px;
    line-height: 50px;
}

.woman hr{
    align-self: center;
    width: 95%;
    float: left;
    height: 2px;
    background-color: black;
}

.vanish{
    height: 130px;
}

.about{
    background-color: #aa9b77;
    height: 400px;
    width: 100%;
}
.about_flex{
    padding-top: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
}

fieldset {
    border: 2px solid #918363;
}

.about_us{
    padding: 0 25px;
    font-size: 20px;
    color: #837659;
    text-align: center;
}

.about_container{
    padding: 10% 20%;
    text-align: center;
    color: #424242;
}

.fame{
    height: 72px;
    background-color: #535253;
}
.fame_flex{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}
.mike_kostya{
    line-height: 72px;
    margin-left: 15px;
    color: white;
}
footer{
    display: flex;
    height: 352px;
    background-color: #424242;
}
.footer_flex{
    display: flex;
    flex-flow: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.trekking{
    color: white;
}
.trekking_title{
    font-size: 20px;
}
.trekking_text{
    text-align: justify;
    margin-top: 20px;
    color: #dbdbdb; !important;
}
.white{
    color: white;
}
.white:visited{
    color: white;
}
.stick{
    color: #aa9b77;
}
.nav_tittle{
    text-align: right;
    margin-top: 10px;
}